In [9]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import pickle
from sklearn.preprocessing import StandardScaler
import tensorflow as tf
from sklearn.metrics import matthews_corrcoef
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder

In [10]:
#ouvrir la base de donnees
dff=pd.read_csv('C:\\Users\\YASMINA\\Desktop\\s2_sdsi\\data mining\\projet_data_mining\\Churn_Modelling.csv')

In [11]:
df=dff.copy()

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [17]:
df_classe_0 = df[df['Exited'] == 0].sample(n=2037, random_state=42)

In [ ]:
df_classe_1 = df[df['Exited'] == 1]

In [ ]:
df = pd.concat([df_classe_0, df_classe_1])

In [ ]:
df = df.sample(frac=1, random_state=42).reset_index(drop=True)
df

In [13]:
features = df.drop(labels=['CustomerId', 'Surname', 'RowNumber', 'Exited'], axis=1)
target = df['Exited']

In [14]:
features = pd.get_dummies(features, prefix=['geo'],columns=['Geography'])
features.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,geo_France,geo_Germany,geo_Spain
0,619,Female,42,2,0.00,1,1,1,101348.88,True,False,False
1,608,Female,41,1,83807.86,1,0,1,112542.58,False,False,True
2,502,Female,42,8,159660.80,3,1,0,113931.57,True,False,False
3,699,Female,39,1,0.00,2,0,0,93826.63,True,False,False
4,850,Female,43,2,125510.82,1,1,1,79084.10,False,False,True

In [16]:
label1 = LabelEncoder()
features['Gender'] = label1.fit_transform(features['Gender'])
features.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,geo_France,geo_Germany,geo_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,True,False,False
1,608,0,41,1,83807.86,1,0,1,112542.58,False,False,True
2,502,0,42,8,159660.80,3,1,0,113931.57,True,False,False
3,699,0,39,1,0.00,2,0,0,93826.63,True,False,False
4,850,0,43,2,125510.82,1,1,1,79084.10,False,False,True

In [18]:
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42)

In [20]:
print("Training samples:" , X_train.shape[0])
print("Testing samples:" ,X_test.shape[0])
print("Training sample size:",X_train.shape)
print("Testing sample size:",X_test.shape)

Training samples: 8000
Testing samples: 2000
Training sample size: (8000, 12)
Testing sample size: (2000, 12)

In [23]:
sc = StandardScaler() 
train = sc.fit_transform(X_train)# Scaling fitted only to training set to avoid info
test = sc.transform(X_test)

In [ ]:
model = Sequential([
    layers.Dense(units=32, activation="relu", kernel_initializer="normal", input_dim=X_train.shape[1]),
    layers.Dense(units=16, activation="relu", kernel_initializer="normal"),
    layers.Dense(units=1, activation="sigmoid", kernel_initializer="normal")
])